@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body
{
  min-height: 100vh;
  background: linear-gradient( #242F73,#4896D3);
  overflow-x: hidden;
}

header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

header .logo
{
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header ul
{
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li
{
  list-style: none;
  margin-left: 20px; 
}

header ul li a
{
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}

header ul li a:hover ,
header ul li a.active
{
  background: #fff;
  color: #242F73;
}

#checkbox 
{
  display: none;
  margin-bottom: -27px;
}
section
{
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section::before
{
  /*content: '';*/
  margin-top: 10rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1E2D59, transparent );
  z-index: 1000;
}

section img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  overflow:hidden;
}

section img#stars{
  width: 150%;
  height: 150%;
  margin-right:75%;
}

section img#moon
{
  max-width:300px;
  max-height:300px;
  width: auto;
  height: auto;
  align-items: center;
  margin-left: 33%;
  z-index: 9;
}

#text
{
  position: absolute;
  left: -800px;
  color: #fff;
  white-space: nowrap;
  font-size: 7vw;
  z-index: 9;
}

section img#marco
{
  z-index: 10;
}

#btn
{
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: #fff;
  color: #242F73;
  font-size: 1.5em;
  z-index: 11;
  transform: translateY(100px);
}

#sec
{
  position: relative;
  padding: 100px;
  background: #1E2D59;
  z-index: 1000;
  justify-content: space-between;
  margin-top: -25px;
  
  
}



#sec h2 
{
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
}
  
/*afazer
#sec .sobre{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  
}
*/

.sobre{
  position: relative;

  padding-top: 6px;
  background: #1E2D59;
  z-index: 1000;
  display: flex;
	justify-items: center;
	align-items: center;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  margin-bottom: 33px;

  
}

#sobre{
  position: relative;
 
  background: #1E2D59;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

#icones 
  {
    
    text-align: left;
    justify-content: left;
    align-items:initial;
    justify-items: left;
    z-index: 999;
    position: absolute;
    margin-top: 11px;
    margin-bottom: 11px;
    padding-bottom: 33rem;
    flex-direction: column;
  }

#sobre p{
  padding:1.5rem;
  padding-top: -4rem;
}

.sobre img
{
  max-width:400px;
  max-height:400px;
  width: auto;
  height: auto;
  align-items: center;
  margin-left: 5%;
  margin-bottom: 5%;
}


.sec p
{
  font-size: 1.2em;
  color: #fff;
}


.links 
{
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
  font-size: 1.5em;
  align-items: center;
  margin-left: 15%;
  white-space: nowrap
}

.links:hover ,
.links.active
{
  background: #fff;
  color: #242F73;
}

footer {
	padding-top: 11rem;
	color: white;
  font-size: 11px;
  align-items: center;
  padding: 16rem;
  z-index: 1000;
  background-color: #1E2D59;
  padding-bottom: 1px;
  text-align: center;


}

footer .links {
	font-size: 16px;
  margin-left: -5px;
  padding: 6px 15px;

}


/* RESPONSIVIDADE */

@media (max-width: 990px) {


  #marco{
    width: 100%;
		height: 100%;

  }

  #stars{
    height: 30%;
    width: 30%;
  }

  #sec{
    margin-top: -25px;
  }
  #sobre {
    flex-direction: column-reverse;
		display: flex;
		justify-items: center;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100vh;
    z-index: 999;
    /*margin-bottom: -10rem;*/
    margin-bottom: 33rem;
	}

  #sobre{
    padding: 30px;
   
  }

  .mensagem
  {
    padding-bottom: -590px;
    margin-bottom: -480px;
  }

  .icones
  {
    flex-direction: column;
    text-align: left;
    justify-content: left;
    align-items:initial;
    justify-items: left;
    margin-top: 32rem;
  }

	.sobre img {
		justify-items: center;
		align-items: center;
    display: flex;
    flex-direction: column;
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
	}

}

@media (max-width: 828px) {


  #marco{
    width: 100%;
		height: 100%;
    margin-top: 1%;

  }

  
  #sobre{
    padding: 10px;
  }

  .icones
  {
    flex-direction: column;
    text-align: left;
    justify-content: left;
    align-items:initial;
    justify-items: left;
    margin-top: 35rem;
  }
}
@media (max-width:760px) {

    #marco{
      width: 100%;
      height: 100%;
      margin-top: 2%;
  
    }
  
    #sec{
      margin-top: -25px;
    }
  }
  



@media (max-width: 600px) {

  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
    left: 25px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    padding-right: 80%;
  }
  
  #menuToggle input
  {
    display: flex;
    width: 40px;
    height: 32px;
    position: relative;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    
  }
  
  #menuToggle span
  {
    display: flex;
    width: 29px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    padding-right: 75%;
  }
  
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-1px, 2px);
    background: #ebd13e;
  }
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu
  {
    position: absolute;
    width: 180px;
    height: 300px;
    box-shadow: 0 0 10px #6a6c779f;
    margin: 10px 0 0 -310px;
    padding: 50px;
    border-radius: 20px;
    padding-top: 50px;
    background-color: #33a7ff;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    flex-direction: column;
    justify-content: space-between;
		display: flex;
    margin-top: 3rem;
  }
  
  #menu li
  {
    padding:-3rem;
    transition-delay: 2s;
    flex-direction: reverse;
    justify-content: space-evenly;
		display: flex;
  }
  
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }


  #menu
  {
    flex-direction: reverse;
    justify-content: space-between;
		display: flex;
  }

  
  #marco{
    width: 100%;
		height: 80%;
    margin-top: 25%;
  }

  #stars{
    height: 30%;
    width: 30%;
  }

  #sec{
    margin-top: -25px;
  }
  .sobre {
    flex-direction: column-reverse;
		display: flex;
		justify-items: center;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100vh;
	}

  #sobre{
    padding: 30px;
    padding-bottom: 1px;
    margin-bottom: 1px;
  }

  .icones
  {
    flex-direction: column;
    text-align: left;
    justify-content: left;
    align-items:initial;
    justify-items: left;
    margin-top: -44rem;
  }

	.sobre img {
		justify-items: center;
		align-items: center;
    display: flex;
    flex-direction: column;
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
	}

  footer 
  {
    
    padding: 0%;

    margin-bottom: 0%;
    padding-bottom: 0%;
    position: absolute;
    z-index: 1000;
    text-align: center;
  }

  footer .links
  {
    white-space: nowrap
  }
  }

  @media (max-width: 500px) {
    #marco{
      width: 100%;
      height: 75%;
      margin-top: 50%;
    }

    .icones
  {
    flex-direction: column;
    text-align: left;
    justify-content: left;
    align-items:initial;
    justify-items: left;
    margin-top: -27rem;
  }
  }

  @media (max-width: 400px) {
    #marco{
      width: 100%;
      height: 65%;
      margin-top: 69%;
    }
  

  .sobre
  {
    font-size: 14px;
  }

  .icones
  {
    flex-direction: column;
    text-align: left;
    justify-content: left;
    align-items:initial;
    justify-items: left;
    margin-top: -27rem;
  }

  #sec h2
  {
    font-size: 30px;
    padding: 1px;
  }

  .sobre
  {
    margin-bottom: 3rem;
  }
}
@media (max-width:390px) {
  #marco{
    width: 100%;
		height: 60%;
    margin-top: 79%;
  }

  .icones
  {
    flex-direction: column;
    text-align: left;
    justify-content: left;
    align-items:initial;
    justify-items: left;
    margin-top: -27rem;
  }
}

@media (max-width:375px) {
  #marco{
    width: 100%;
		height: 60%;
    margin-top: 65%;
  }

  .icones
  {
    flex-direction: column;
    text-align: left;
    justify-content: left;
    align-items:initial;
    justify-items: left;
    margin-top: -27rem;
  }
}

/*para Iphone X */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
      #marco{
        width: 100%;
        height: 60%;
        margin-top: 79%;
      }
    }

@media (max-width:360px) {
  #marco{
    width: 100%;
		height: 60%;
    margin-top: 75%;
  }
}

@media (max-width:300px) {
  #marco{
    width: 100%;
		height: 60%;
    margin-top: 90%;
  }
}


